.sidebar {
  transition: all 0.3s ease;
}
.sidebar-collapsed {
  width: 80px;
}
.sidebar-expanded {
  width: 250px;
}

.main-content {
  transition: all 0.3s ease;
}
.content-collapsed {
  margin-left: 80px;
}
.content-expanded {
  margin-left: 250px;
}
.dropdown-menu {
  transition: all 0.3s ease;
  /* max-height: 0; */
  overflow: hidden;
}
.dropdown-menu.show {
  max-height: 500px;
}
.ck-editor__editable {
  min-height: 200px;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-menu.show {
  max-height: 500px;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}
